<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Cat Info</title>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>Info for Cat #<%= cat.id %></h1>
		</div>
		<div class="body">
			<p>Name: <%= cat.name %></p>
			<p>Age: <%= cat.age %> years</p>
			<p>
				Favorite foods:
					<ul>
						<% for (let i in cat.foods) { %>
							<li><%= cat.foods[i] %></li>
						<% } %>
					</ul>
			</p>
		</div>
	</div>
</body>
</html>